In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("test_tick_happy_path_no_weekend.csv")
df["date-time"] = pd.to_datetime(df["date-time"])
df.set_index("date-time", inplace=True)

In [27]:
df.index.weekday.unique()

Index([0, 1, 2, 3, 4], dtype='int32', name='date-time')

In [28]:
df_ohlc = df["bid"].resample("1H").ohlc()

In [31]:
df_ohlc.index.weekday.unique()

Index([0, 1, 2, 3, 4, 5, 6], dtype='int32', name='date-time')

In [35]:
weekdays_filter = (df_ohlc.index.weekday == 5) | (df_ohlc.index.weekday == 6)

In [37]:
df_ohlc[weekdays_filter]

                     open  high  low  close
date-time
2023-01-07 00:00:00   NaN   NaN  NaN    NaN
2023-01-07 01:00:00   NaN   NaN  NaN    NaN
2023-01-07 02:00:00   NaN   NaN  NaN    NaN
2023-01-07 03:00:00   NaN   NaN  NaN    NaN
2023-01-07 04:00:00   NaN   NaN  NaN    NaN
...                   ...   ...  ...    ...
2023-01-29 19:00:00   NaN   NaN  NaN    NaN
2023-01-29 20:00:00   NaN   NaN  NaN    NaN
2023-01-29 21:00:00   NaN   NaN  NaN    NaN
2023-01-29 22:00:00   NaN   NaN  NaN    NaN
2023-01-29 23:00:00   NaN   NaN  NaN    NaN

[192 rows x 4 columns]