# Imports e dependências

In [ ]:
import pandas as pd

from decision_tree_matott import tree as decision_tree

# Carregamento de dados

In [2]:

# Abrir dados
dados = pd.read_csv('restaurante.csv', sep=';')
# Separar em dados e resultados
classe = 'Conclusao'
#
data = dados.drop(columns=classe)
df = pd.DataFrame(data)
#results = dados
results = dados[classe]

In [3]:
df

   Alternativo  Bar SexSab fome Cliente Preco Chuva  Res       Tipo  Tempo
0          Sim  Nao    Nao  Sim  Alguns   RRR   Nao  Sim    Frances   0-10
1          Sim  Nao    Nao  Sim   Cheio     R   Nao  Nao  Tailandes  30-60
2          Nao  Sim    Nao  Nao  Alguns     R   Nao  Nao  Hamburger   0-10
3          Sim  Nao    Sim  Sim   Cheio     R   Sim  Nao  Tailandes  10-30
4          Sim  Nao    Sim  Nao   Cheio   RRR   Nao  Sim    Frances    >60
5          Nao  Sim    Nao  Sim  Alguns    RR   Sim  Sim   Italiano   0-10
6          Nao  Sim    Nao  Nao  Nenhum     R   Sim  Nao  Hamburger   0-10
7          Nao  Nao    Nao  Sim  Alguns    RR   Sim  Sim  Tailandes   0-10
8          Nao  Sim    Sim  Nao   Cheio     R   Sim  Nao  Hamburger    >60
9          Sim  Sim    Sim  Sim   Cheio   RRR   Nao  Sim   Italiano  10-30
10         Nao  Nao    Nao  Nao  Nenhum     R   Nao  Nao  Tailandes   0-10
11         Sim  Sim    Sim  Sim   Cheio     R   Nao  Nao  Hamburger  30-60

In [4]:
for instancia in df['Tipo']:
    print(instancia)

Frances
Tailandes
Hamburger
Tailandes
Frances
Italiano
Hamburger
Tailandes
Hamburger
Italiano
Tailandes
Hamburger

In [5]:
results

0     Sim
1     Nao
2     Sim
3     Sim
4     Nao
5     Sim
6     Nao
7     Sim
8     Nao
9     Nao
10    Nao
11    Sim
Name: Conclusao, dtype: object

# Criar árvore

In [6]:
# Criar árvore e definir critérios
arvore = id3.ID3(-1, 0, data, results, 'Conclusao')

In [7]:
# Gerar árvore
arvore.create_tree(data, results)

# Testar modelo

### Testar árvore

### Obter acurácia do teste

### Matriz de confusão

In [10]:
conjunto = ['Nao', 'Sim']
n_conjunto = len(conjunto)

In [ ]:
dataframe = pd.DataFrame(index=conjunto, columns=conjunto)

In [ ]:
dataframe

     Nao  Sim
Nao  NaN  NaN
Sim  NaN  NaN

# Resultado

In [8]:
print(arvore.root)

0 - Sim (/Sim 6//Nao 6/) | Informacao: 0.5408520829727552 | Regra derivada: Cliente

In [9]:
print(arvore.__str__())

{}  0 - Sim (/Sim 6//Nao 6/) | Informacao: 0.5408520829727552 | Regra derivada: Cliente
	{Alguns}  1 - Sim (/Sim 4/) | Informacao: 1.0 | Regra derivada: (Nó final)
	{Cheio}  1 - Nao (/Sim 2//Nao 4/) | Informacao: 0.2516291673878229 | Regra derivada: fome
		{Sim}  2 - Sim (/Sim 2//Nao 2/) | Informacao: 0.5 | Regra derivada: Tipo
			{Italiano}  3 - Nao (/Nao 1/) | Informacao: 1.0 | Regra derivada: (Nó final)
			{Hamburger}  3 - Sim (/Sim 1/) | Informacao: 1.0 | Regra derivada: (Nó final)
			{Tailandes}  3 - Sim (/Sim 1//Nao 1/) | Informacao: 1.0 | Regra derivada: SexSab
				{Sim}  4 - Sim (/Sim 1/) | Informacao: 1.0 | Regra derivada: (Nó final)
				{Nao}  4 - Nao (/Nao 1/) | Informacao: 1.0 | Regra derivada: (Nó final)
		{Nao}  2 - Nao (/Nao 2/) | Informacao: 1.0 | Regra derivada: (Nó final)
	{Nenhum}  1 - Nao (/Nao 2/) | Informacao: 1.0 | Regra derivada: (Nó final)